 <ul class="related-services-list" style="margin-top:1rem;">
                <li><a href="/service-area/eustis-fl/{{ include.base_path }}/">Paint Repair in Eustis, FL</a></li>
                <li><a href="/service-area/mount-dora-fl/{{ include.base_path }}/">Paint Repair in Mount Dora, FL</a></li>
                <li><a href="/service-area/tavares-fl/{{ include.base_path }}/">Paint Repair in Tavares, FL</a></li>
                <li><a href="/service-area/leesburg-fl/{{ include.base_path }}/">Paint Repair in Leesburg, FL</a></li>
                <li><a href="/service-area/clermont-fl/{{ include.base_path }}/">Paint Repair in Clermont, FL</a></li>
                <li><a href="/service-area/lady-lake-fl/{{ include.base_path }}/">Paint Repair in Lady Lake, FL</a></li>
                <li><a href="/service-area/apopka-fl/{{ include.base_path }}/">Paint Repair in Apopka, FL</a></li>
                <li><a href="/service-area/altoona-fl/{{ include.base_path }}/">Paint Repair in Altoona, FL</a></li>
            </ul>

<ul class="related-services-list">
    <li><a href="{{ include.base_path }}/interior-detailing/">Interior Detailing</a></li>
    <li><a href="{{ include.base_path }}/exterior-detailing/">Exterior Detailing</a></li>
    <li><a href="{{ include.base_path }}/paint-repair/">Paint Repair</a></li>
    <li><a href="{{ include.base_path }}/headlight-polishing/">Headlight Polishing</a></li>
    <li><a href="{{ include.base_path }}/engine-detailing/">Engine Detailing</a></li>
    <li><a href="{{ include.base_path }}/ceramic-coating/">Ceramic Coating</a></li>
</ul>
