<ul class="related-services-list">
    <li><a href="{{ include.base_path }}/interior-detailing/">Interior Detailing</a></li>
    <li><a href="{{ include.base_path }}/exterior-detailing/">Exterior Detailing</a></li>
    <li><a href="{{ include.base_path }}/paint-repair/">Paint Repair</a></li>
    <li><a href="{{ include.base_path }}/headlight-polishing/">Headlight Polishing</a></li>
    <li><a href="{{ include.base_path }}/engine-detailing/">Engine Detailing</a></li>
    <li><a href="{{ include.base_path }}/ceramic-coating/">Ceramic Coating</a></li>
</ul>
